#wfbX_server v1.0.1
[DEFAULT]
#general
log = off
#log_file = /log/[section].cfg
#wfbx_server
wfbx_server_version = 1.0.1
wfbx_kill_timeout_ms = 10
#wlan
channel = 64
bandwidth = 20
bw_pf = 
wlan = wlan0
#udp_tx
udp_tx_ip = 127.0.0.1
udp_tx_port = 5602
udp_tx_pksize = 1024
udp_tx_pks = 512
#udp_proxy_rx
uprx_ip_rx = 0.0.0.0
uprx_port_rx = 5600
uprx_ip_tx = 127.0.0.1
uprx_port_tx = 5700
uprx_mpkts = 2048
uprx_ip_wfbs = 127.0.0.1
uprx_port_wfbs = 14650
uprx_mode = 0
uprx_alrt_max = 10
#udp_proxy_tx
uptx_mpkts = 2048
uptx_ip_rx = 0.0.0.0
uptx_port_rx = 5600
uptx_ip_tx = 127.0.0.1
uptx_port_tx = 5680
uptx_ptxn = 1
uptx_rpn = 1
uptx_dl = 0
#udp_proxy_fwd
upfwd_mpkts = 2048
upfwd_ip_rx = 0.0.0.0
upfwd_port_rx = 5600
upfwd_ip_tx = 127.0.0.1
upfwd_port_tx = 5680
upfwd_ptxn = 1
upfwd_rpn = 1
upfwd_dl = 0
upfwd_mode = 0
#uart_to_udp
utu_uart = /dev/ttyS0
utu_brate = 115200
utu_udps_ip = 127.0.0.1
utu_udps_port = 14775
utu_mode = 0
#mav_router_rx
mvrrx_ip_r = 0.0.0.0
mvrrx_port_r = 14785
mvrrx_ip_mp = 192.168.144.100
mvrrx_port_mp = 14500
mvrrx_ip_rtx = 192.168.144.125
mvrrx_port_rtx = 14785
#mav_router_tx 
mvrtx_ip_r = 0.0.0.0
mvrtx_port_r = 14785
mvrtx_mode = 0 
#udp_fec_tx
uftx_mpkts = 2048
uftx_ip_rx = 0.0.0.0
uftx_port_rx = 7600
uftx_ip_tx = 127.0.0.1
uftx_port_tx = 7700
uftx_k = 3
uftx_m = 6
#udp_fec_rx
ufrx_mpkts = 2048
ufrx_ip_rx = 0.0.0.0
ufrx_port_rx = 7700
ufrx_ip_tx = 127.0.0.1
ufrx_port_tx = 7800
ufrx_ip_wfbs = 127.0.0.1
ufrx_port_wfbs = 14650
#exec
exec_exec =
exec_argv =
#udp_to_uart
udtu_port_rx = 14785
udtu_ip_rx = 0.0.0.0
udtu_uart = /dev/ttyS0
udtu_brate = 115200
#init_wlans
iwlx_wfb_cfg =/usr/sbin/wfbx_server/wfbx_server.cfg
iwlx_prfx = wlx
iwlx_channel = 64
iwlx_wlans_nmbr = 4
iwlx_wlan_section = wlan
#ch_switcher
chsw_wfb_cfg =/usr/sbin/wfbx_server/wfbx_server.cfg
chsw_ip = 127.0.0.1
chsw_port = 14420
chsw_ip_server = 127.0.0.1
chsw_port_server = 5858
chsw_ch_id = 100
chsw_hb_freq = 10
chsw_mpkts = 2048
chsw_cmd_prfx = chsw
chsw_wlan = wlan
#ch_server
chsv_ip = 127.0.0.1
chsv_port = 5858
chsv_hb_freq = 10
chsv_mpkts = 2048
#udp_interval_tx
uitx_ip_rx = 0.0.0.0
uitx_port_rx = 5200
uitx_ip_tx = 127.0.0.1
uitx_port_tx = 5201
uitx_limit_ms = 20
uitx_max_len = 2048
#udp_interval_rx
uirx_ip_rx = 0.0.0.0
uirx_port_rx = 5201
uirx_ip_tx = 127.0.0.1
uirx_port_tx = 5202
uirx_max_len = 2048
# xrx (wfbx_rx)
xrx_ip = 127.0.0.1
xrx_port = 5600
xrx_tx_id = any
xrx_group_id = -1
xrx_link_id = -1
xrx_radio_port = -1
xrx_stat_period = 1000
xrx_stat_ip = 127.0.0.1
xrx_stat_port = 9601
xrx_stat_id = xrx
# xtx (wfbx_tx)
xtx_ip = 0.0.0.0
xtx_port = 5600
xtx_mcs_idx = 0
xtx_gi = short
xtx_bw = 20
xtx_ldpc = 1
xtx_stbc = 1
xtx_group_id = 0
xtx_tx_id = 0
xtx_link_id = 0
xtx_radio_port = 0
xtx_mode = ptx
xtx_mx = @wfbx.mx
xtx_epoch_len = 50000
xtx_epoch_gi = 400
xtx_slot_start = 0
xtx_slot_len = 50000
xtx_gi_tx = 400
xtx_delta_us = 1500
xtx_d_max = 0.0
xtx_eps_us = 250
xtx_send_gi = 200
xtx_prewake_q = 1
xtx_prewake_min = 1000
xtx_stat_period = 1000
xtx_stat_ip = 127.0.0.1
xtx_stat_port = 9601
xtx_stat_id = xtx
xtx_epoch_sync = on
# ptx (wfbx_ptx)
ptx_ip = 0.0.0.0
ptx_port = 5600
ptx_radio_port = 0
ptx_xtx_ip = 127.0.0.1
ptx_xtx_port = 4600
ptx_stat_period = 1000
ptx_stat_ip = 127.0.0.1
ptx_stat_port = 9601
ptx_stat_id = ptx
# mx (wfbx_mx)
mx_ip = 127.0.0.1
mx_port = 5600
mx_tx_id = any
mx_group_id = -1
mx_delta_us = 700
mx_ctrl = @wfbx.mx
mx_d_max = 0.0
mx_stat_period = 1000
mx_stat_ip = 127.0.0.1
mx_stat_port = 9601
mx_stat_id = mx
# tx (wfb_tx legacy)
tx_ip = 0.0.0.0
tx_port = 5600
tx_mcs_idx = 0
tx_gi = short
tx_bw = 20
tx_ldpc = 1
tx_stbc = 1
tx_group_id = 0
tx_tx_id = 0
tx_link_id = 0
tx_radio_port = 0
tx_stat_ip = 127.0.0.1
tx_stat_port = 9601
tx_stat_id = tx
# rx (wfb_rx legacy)
rx_ip = 127.0.0.1
rx_port = 5600
rx_tx_id = any
rx_link_id = -1
rx_radio_port = -1
rx_stat_period = 1000
rx_stat_ip = 127.0.0.1
rx_stat_port = 9601
rx_stat_id = rx
# statd (wfbx_statd)
statd_ingest = 0.0.0.0:9601
statd_mcast = 239.255.0.1:9100
statd_host_id = core
statd_max_len = 1450
# statd_fwd (statd_fwd)
stfw_mcast = 239.255.0.1:9100
stfw_iface = 
stfw_dst = 127.0.0.1:9701
stfw_module_type = any
stfw_module_id = any
stfw_host_id = any


[wfbx_server]
# this is default section for for wfb_server configuration do not remove or comment
wfbx_server_version = 1.0.1
wfbx_kill_timeout_ms = 500

[ch_server]
chsv_ip = 192.168.144.100
chsv_port = 5858
chsv_hb_freq = 20
#chsv_mpkts = 2048

[mav_router_rx]
mvrrx_ip_r = 0.0.0.0
mvrrx_port_r = 14785
mvrrx_ip_mp = 192.168.144.100
mvrrx_port_mp = 14500
mvrrx_ip_rtx = 127.0.0.1
mvrrx_port_rtx = 14985

[udp_proxy_fwd_tx_incoming]
upfwd_mpkts = 2048
upfwd_ip_rx = 0.0.0.0
upfwd_port_rx = 14985
upfwd_ip_tx = 127.0.0.1
upfwd_port_tx = 14885
upfwd_ptxn = 2
upfwd_rpn = 1
upfwd_dl = 0
upfwd_mode = 0

[udp_proxy_fwd_tx_125]
upfwd_mpkts = 2048
upfwd_ip_rx = 0.0.0.0
upfwd_port_rx = 14885
upfwd_ip_tx = 192.168.144.125
upfwd_port_tx = 14785
upfwd_ptxn = 1
upfwd_rpn = 1
upfwd_dl = 0
upfwd_mode = 0

#[udp_proxy_fwd_tx_185]
#upfwd_mpkts = 2048
#upfwd_ip_rx = 0.0.0.0
#upfwd_port_rx = 14886
#upfwd_ip_tx = 192.168.144.185
#upfwd_port_tx = 14785
#upfwd_ptxn = 1
#upfwd_rpn = 1
#upfwd_dl = 0
#upfwd_mode = 0

[udp_proxy_rx]
uprx_ip_rx = 0.0.0.0
uprx_port_rx = 5700
uprx_ip_tx = 127.0.0.1
#uprx_port_tx = 7700
#uprx_port_tx = 17700
uprx_port_tx = 5600
uprx_mpkts = 2048
#uprx_ip_wfbs = 127.0.0.1
#uprx_port_wfbs = 14650
#uprx_mode = 0
#uprx_alrt_max = 10

#[udp_fec_rx]
#ufrx_mpkts = 2048
#ufrx_ip_rx = 0.0.0.0
#ufrx_port_rx = 7700
#ufrx_ip_tx = 127.0.0.1
#ufrx_port_tx = 5600
#ufrx_port_tx = 17700
#ufrx_ip_wfbs = 127.0.0.1
#ufrx_port_wfbs = 14650

#[udp_interval_rx]
#uirx_ip_rx = 0.0.0.0
#uirx_port_rx = 17700
#uirx_ip_tx = 127.0.0.1
#uirx_port_tx = 5600
#uirx_max_len = 2048
