[Unit]
Description=wfbX
After=network.target
StartLimitInterval=20
StartLimitBurst=210

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/sbin/wfbx/wfbx_server
User=root
TimeoutStopSec=200ms
KillMode=control-group
Restart=always
RestartSec=100ms

[Install]
WantedBy=multi-user.target