[Unit]
Description=Wifibroadcast server
After=network.target
StartLimitInterval=20
StartLimitBurst=21

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/sbin/wfbx_server/wfbx_server
User=root
TimeoutStopSec=5s
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target